                                             -----  MY TAG ALONG CODE   ------

In [1]:
# importing my dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv("FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding = "latin-1")

                                            --- UNDERSTANDING THE DATA AND PERFORMNG EDA ---

In [3]:
data.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [4]:
data.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [5]:
data.shape

(60943, 12)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     60943 non-null  int64
 1   Area          60943 non-null  object
 2   Item Code     60943 non-null  int64
 3   Item          60943 non-null  object
 4   Element Code  60943 non-null  int64
 5   Element       60943 non-null  object
 6   Unit          60943 non-null  object
 7   Y2014         59354 non-null  float64
 8   Y2015         59395 non-null  float64
 9   Y2016         59408 non-null  float64
 10  Y2017         59437 non-null  float64
 11  Y2018         59507 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 5.6+ MB

In [7]:
# Check for missing values in each column
data.isna().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [8]:
# Check for missing values in each column
missing_in_columns = data.isna().any()
print(missing_in_columns)

Area Code       False
Area            False
Item Code       False
Item            False
Element Code    False
Element         False
Unit            False
Y2014            True
Y2015            True
Y2016            True
Y2017            True
Y2018            True
dtype: bool

                                    -----   TAG ALONG CODE BEGINS FROM HERE -----
                                                ---- QUIZ ANSWERS ----

In [9]:
my_tuppy = (1,2,5,8)
my_tuppy[2] = 6

TypeError: 'tuple' object does not support item assignment

In [10]:
y = [(2, 4), (7, 8), (1, 5, 9)]
x = y[1][1]
print(x)

8

In [11]:
# Performing a groupby operation on 'Area' and aggregating the sum of 'Y2017'
sum_by_area = data.groupby('Area').sum()['Y2017']

# Finding the area with the highest sum in 2017
area_with_highest_sum = sum_by_area.idxmax()

#print result
print("Area with the highest sum in 2017:", area_with_highest_sum)

Area with the highest sum in 2017: Nigeria

In [12]:
# Aggregate the sum of 'Wine' for 2015 and 2018
wine_production_sum = data.groupby('Item').agg({'Y2015': 'sum', 'Y2018': 'sum'})  

# The total sum of wine produced in 2015 and 2018 respectively
wine_production_2015 = wine_production_sum.loc['Wine', 'Y2015']
wine_production_2018 = wine_production_sum.loc['Wine', 'Y2018']

#print result
print(wine_production_2015)
print(wine_production_2018)

4251.81
4039.32

In [13]:
# Select the 'Element Code' and year columns
correlation_data = data[['Element Code'] + [col for col in data if col.startswith('Y')]]  

# Calculate the correlation matrix
correlation_matrix = correlation_data.corr()  

# Since we're only interested in the correlation of 'Element Code' with years,
# we'll drop the correlation of 'Element Code' with itself
correlation_matrix.drop('Element Code', inplace=True)

# Find the year with the least correlation with 'Element Code'
least_correlation_year = correlation_matrix['Element Code'].idxmin()
least_correlation_value = correlation_matrix['Element Code'][least_correlation_year]

#print results
print(least_correlation_year)
print(least_correlation_value)

Y2016
0.02344399758496104

In [14]:
array = np.array([[94, 89, 63],
                  [93, 92, 48],
                  [92, 94, 56]])
print(array[:2, 1:])

[[89 63]
 [92 48]]

In [15]:
# Calculate the mean and standard deviation for the year 2017 across the whole dataset
mean_2017 = data['Y2017'].mean()
std_dev_2017 = data['Y2017'].std()

# Format the results to 2 decimal places
mean_2017_rounded = round(mean_2017, 2)
std_dev_2017_rounded = round(std_dev_2017, 2)

#print results
mean_2017_rounded, std_dev_2017_rounded

(140.92, 1671.86)

In [16]:
# Selecting the columns 'Y2017' and 'Area' and performing a groupby operation on 'Area'
grouped_area_2017 = data[['Y2017', 'Area']].groupby('Area').sum()

# Sorting the groups by the sum of 'Y2017' to find the 7th lowest value
sorted_areas_2017 = grouped_area_2017.sort_values(by='Y2017', ascending=True)

# Getting the 7th lowest sum in 2017 by Area
seventh_lowest_area = sorted_areas_2017.iloc[6]

# Output the Area name and its sum in 2017
seventh_lowest_area_name = seventh_lowest_area.name
seventh_lowest_sum = seventh_lowest_area['Y2017']

#print results
seventh_lowest_area_name, seventh_lowest_sum

('Guinea-Bissau', 19102.77)

In [17]:
# Calculate the total number of missing values in the 'Y2014' column
missing_count_2014 = data['Y2014'].isnull().sum()

# Calculate the percentage of missing values in the 'Y2014' column
total_rows = data['Y2014'].shape[0]
missing_percentage_2014 = (missing_count_2014 / total_rows) * 100

# Format the results to 3 decimal places
missing_percentage_2014_formatted = round(missing_percentage_2014, 3)

#print result
missing_count_2014, missing_percentage_2014_formatted

(1589, 2.607)

In [18]:
# Filter the data for Madagascar in 2015 and for the 'Protein supply quantity (g/capita/day)' element
madagascar_protein = data[(data['Area'] == 'Madagascar') & (data['Element'] == 'Protein supply quantity (g/capita/day)')]

# Sum the values in the 'Y2015' column to get the total protein supply quantity
total_protein_madagascar_2015 = madagascar_protein['Y2015'].sum()

#print result
print('Total:', total_protein_madagascar_2015) 
print('Rounded:', round(total_protein_madagascar_2015, 2))

Total: 173.04999999999998
Rounded: 173.05

In [19]:
S = [['him', 'sell'], [90, 28, 43]]
print(S[0][1][1])

e

In [20]:
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]
col = ['Age', 'Nationality', 'Overall']

df = pd.DataFrame(lst, columns=col)
print(df)

   Age Nationality  Overall
0   35    Portugal       94
1   33   Argentina       93
2   30      Brazil       92

In [21]:
#Q16 
#Perform a groupby operation on ‘Element’.  
#What is the total number of the sum of Processing in 2017?
element_group_2017 = data.groupby('Element').sum()

# Get the total sum for 'Processing' in 2017
total_processing_2017 = element_group_2017.loc['Processing', 'Y2017']

#print result
total_processing_2017

292836.0

In [22]:
#17 
#Perform a groupby operation on ‘Element’.  
#What year has the highest sum of Stock Variation?

# Filter out only the year columns from the dataset to ensure proper sum calculations
year_columns = [col for col in data.columns if col.startswith('Y')]

# Perform the groupby operation again on 'Element', including only year columns this time
element_group_yearly = data.groupby('Element')[year_columns].sum()

# Select the 'Stock Variation' row and find the year with the highest sum
stock_variation_sums = element_group_yearly.loc['Stock Variation']

# Finding the index (year) with the maximum value
highest_stock_variation_year = stock_variation_sums.idxmax()  

#print result
highest_stock_variation_year, stock_variation_sums[highest_stock_variation_year]

('Y2014', 58749.83)

In [23]:
#Q.18
df.shape

(3, 3)

In [24]:
# Using .unique() to find unique countries and then getting the count
unique_countries = data['Area'].unique()
unique_countries_count = len(unique_countries)

#print result
unique_countries_count

49

                                                        ---- THE END ----